head {
  background-color: #008000;
}
body {
  background-color: #2c6dd6;
}
#title{
  background-color: pink;
  text-align: center;
  font-size: 50px
}
#top_middle{
  background-color: #66cccc;
  font-size: 50px;
  length: 1000px;
  width: 1000px;
  text-align: center;
  border: solid black 1px;
}
#topimage{
  width: 800px;
  length: 800px;
}
#image_top{
  image-orientation: center;
  image: length 2000px;
}
